
body {
	background: linear-gradient(to right bottom, #818F96 50%, #94A5AD 50%);
	margin: 0;
}

#button {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: auto;
	top: 20px;
	padding: 15px;
}

.container {
	position: relative;
}

.overlay {
	position: absolute;
 	height: 52px;
 	width: 52px;
	top: 15px;
	margin-left: 14px;
 	opacity: 0;
 	transition: .5s ease;
 	background-color: 818F96;
	border-radius: 50%;
}

#backoverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

.container:hover .overlay {
	opacity: 1;
}

#filler {
	height: 80%;
	width: 80%;
	position: absolute;
	top: 25px;
	right: 25px;
}

.title {
	color: white;
	font-family: arial;
	font-size: 8pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#page {
	font-family: arial;
	color: white;
	font-style: bold;
	font-size: 120pt;
	position: fixed;
	right: 0;
	bottom: 0;
}

p {
	font-style: normal;
	font-size: 15pt;
	font-family: arial;
	color: white;
	position: absolute;
	left: 1100px;
	bottom: 200px;
}

#begin {
	font-family: arial;
	font-size: 13pt;
	font-style: italic;
	color: white;
	position: absolute;
	top: 40px;
	right: 70px;
	width: 290px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: auto;
	position: relative;
	bottom: 13%;
}

.column {
	flex: 25%;
	margin: auto;
	max-width: 25%;
	padding: 0 2px;
}


#gallery {
		display: block;
		width: 300px;
		height: 300px;
		object-fit: cover;
		vertical-align: middle;
}

